.hero1{
    background-color: lightgreen;
}
.hero2{
    background-color: lightcoral;
}
.hero{
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;

    &:nth-child(odd){
        background-color: lightblue;
    }
    &:nth-child(even){
        background-color: lightcoral;
    }

    &__title{
        font-size: 35px;
        letter-spacing: 2px;

    }
}